doctype html
html
    head
        title Gulp, Jade, Sass, js Uglify, BrowserSync
        link(href="css/reset.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")

    body
        h1 Hello Guys
        p It's work !
